* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:whitesmoke;
}

body {    
    margin: 0 !important;
    padding: 3% 30% 3% 30% !important;
}

@media(max-width: 768px) {
    body {
        padding: 3% 5% 3% 5% !important;
    }
}